<div class="list-container">
    <!-- <div class="todo-container column-container">
        <div class="list"
             cdkDropList
             #todoList="cdkDropList"
             [cdkDropListData]="todos"
             [cdkDropListConnectedTo]="[progressList,doneList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>TODO</h2>
          <mat-card *ngFor="let todo of todos" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{todo.taskName}}</mat-card-title>
              <mat-card-subtitle>{{todo.taskDesc}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div> -->
      <h2>TODOs</h2>
      <div class="list"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="taskData"
      [cdkDropListConnectedTo]="[progressList,doneList]"
      (cdkDropListDropped)="onDrop($event)">
          <mat-card *ngFor ="let task of taskData" cdkDrag>
                    <mat-card-header>
                      <mat-card-title>{{ task.taskName }}</mat-card-title>
                      <mat-card-subtitle>{{ task.taskDesc }}</mat-card-subtitle>
                    </mat-card-header>
            </mat-card>
        </div>
      <div class="progress-container column-container">
        <div class="list"
             cdkDropList
             #progressList="cdkDropList"
             [cdkDropListData]="progress"
             [cdkDropListConnectedTo]="[doneList,todoList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>In Progress</h2>
          <mat-card *ngFor="let p of progress" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{p.taskName}}</mat-card-title>
              <mat-card-subtitle>{{p.taskDesc}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
  
      <div class="done-container column-container">
        <div class="list"
             cdkDropList
             #doneList="cdkDropList"
             [cdkDropListData]="completed"
             [cdkDropListConnectedTo]="[progressList,todoList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Completed</h2>
          <mat-card *ngFor="let complete of completed" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{complete.taskName}}</mat-card-title>
              <mat-card-subtitle>{{complete.taskDesc}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
  </div>