<div class="list-container">
      <h2>TODOs</h2>
      
      <div class="list"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="taskData"
      [cdkDropListConnectedTo]="[progressList,doneList]"
      (cdkDropListDropped)="onDrop($event)">
      <div  class="todo">
          <mat-card *ngFor ="let task of taskData" cdkDrag>
                    <mat-card-header>
                      <mat-card-title>{{ task.taskName }}</mat-card-title>
                      <mat-card-subtitle>{{ task.taskDesc }}</mat-card-subtitle>
                      <button mat-raised-button color="primary" (click)="btnClick(task.id)">Update</button>
                      <button mat-raised-button color="warn" (click)="delTask(task.id)">Delete</button>
                    </mat-card-header>
            </mat-card>
        </div>
      </div>
      <div class="progress-container column-container">
        <div class="list"
             cdkDropList
             #progressList="cdkDropList"
             [cdkDropListData]="progressData"
             [cdkDropListConnectedTo]="[doneList,todoList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>In Progress</h2>
          <!-- <div *ngIf="tasks$" | async; let progress; else loading> -->
            <mat-card *ngFor="let progress of progressData | keyvalue" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{ progress.value.taskName }}</mat-card-title>
              <mat-card-subtitle>{{ progress.value.taskDesc }}</mat-card-subtitle>
              <button mat-raised-button color="primary" (click)="btnClick(progress.value.id)">Update</button>
              <button mat-raised-button color="warn" (click)="delTask(progress.value.id)">Delete</button>
            </mat-card-header>
          </mat-card>
        <!-- </div> -->
        </div>
      </div>
  
      <div class="done-container column-container">
        <div class="list"
             cdkDropList
             #doneList="cdkDropList"
             [cdkDropListData]="completeData"
             [cdkDropListConnectedTo]="[progressList,todoList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Completed</h2>
          <mat-card *ngFor="let c of completeData" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{ c.taskName }}</mat-card-title>
              <mat-card-subtitle>{{ c.taskDesc }}</mat-card-subtitle>
              <button mat-raised-button color="primary" (click)="btnClick(c.id)">Update</button>
              <button mat-raised-button color="warn" (click)="delTask(c.id)">Delete</button>
              <!-- <button mat-button color="warn" (click)="gettingData()">Test</button> -->
            </mat-card-header>
          </mat-card>
        </div>
      </div>
  </div>